node_modules
dist
**/*.db
**/*.bak*
**/*.csv
**/*.xlsx
**/*.xls
**/*.pdf
**/*.docx
**/*.doc
**/*.pptx
**/*.ppt
**/*.zip
**/*.rar
**/*.7z
**/*.tar
**/*.gz
**/*.bz2
**/*.tgz
**/*.tbz
**/*.tbz2
**/*.tbz2
**/*.bz